$theme: dark;

@if $theme == light{
    body{
        background-color: white;
        color: black;
    }
    .container{
        border: 2px solid #ddd;
    }
}
@else if $theme == dark{
    body{
         background-color: #333;
        color: white;

    }
    .container{
        border: 2px solid #ddd;
    }
}

body{

    padding: 50px;
}
.container{
    padding: 30px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
}