%alert-base {
    padding: 15px;
    margin: 10px 0;
    border-radius: 25px;
    font-weight: bold;
}

.alert-success {
    @extend %alert-base;
    background-color: #d4edda;
    color: #155724;
    
}

.alert-danger {
    @extend %alert-base;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-warning {
    @extend %alert-base;
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeaa7;
}