.brand-original::after {
  content: " - mycompany";
}

.brand-uppercase::after {
  content: " - MYCOMPANY";
}

.brand-length::after {
  content: " - 9 characters";
}

[class^=brand-] {
  background-color: #141414;
  color: white;
  padding: 20px;
  margin: 10px 0;
}