nav {
    background-color: #333;
    padding: 10px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 20px;

            a {
                color: white;
                text-decoration: none;
                padding: 5px 10px;

                &:hover {
                    color: #3498db;
                }
            }
        }
    }
}