.image-container {
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    // margin: 50px auto;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s, filter 0.3s;
        // filter: grayscale(100%);
        
        &:hover {
            transform: scale(1.2);
            filter: grayscale(0%);
        }
    }
}